
@import url('../../../styles.css');

.home {
    background-image: url('../../../assets/images/background.jpg');
    height : 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-family: 'Koulen', sans-serif;
    color: white;
    font-size:  100px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius:  50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    opacity: 0.7;
}